.information_contaioner{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 1200px;
    padding: 20px 2rem;
    margin: 5px;
    height: auto;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.information_contaioner .Lead_show{
    position: relative;
}
.information_contaioner .inText_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.information_contaioner .inText{
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    font-family: 'Noto Sans TC', sans-serif;
}
.information_contaioner .inText a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    font-family: 'Noto Sans TC', sans-serif;
}
.self_img{
    width: 100%;
    position: relative;
    margin-top: -50px;
    opacity: 0;
    transition: 0.5s;
}
.card_icon{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.bottom_container{
    background-color: black;
    width: 1200px;
    border-radius: 15px;
    padding: 20px 2rem;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
}