.information_contaioner{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 1200px;
    padding: 20px 2rem;
    margin: 5px;
    height: 1500px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.part_container{
    position: relative;
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    /* margin-bottom: 25px; */
    opacity: 0;
    transition: 0.5s;
}
/* .rpc{
    right: -300px;
}
.lpc{
    right: 300px;
} */
.part_container .float_container{
    position: relative;
    width: 1000px;
    height: 300px;
    background-color: rgb(52, 56, 88);
    transition: 0.5s;
    border-radius: 9.8px;
    z-index: 150;
    /* margin-top: -10px; */
}
.inText{
    font-family: 'Noto Sans TC', sans-serif;
}
.part_container .bottom{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    z-index: 5000;
    margin-bottom: -30px;
    top:250px;
    left: 30px;
    transition: 2s;
}
.img_1{
    margin-top: -300px;
    margin-right: 590px;
    margin-bottom: 150px;
    width: 150px;
}
.bottom_container{
    background-color: black;
    width: 1200px;
    border-radius: 15px;
    padding: 20px 2rem;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}